In [6]:
import pandas as pd

In [10]:
df= pd.read_csv(r"C:\Users\hello\Downloads\Sample_Input.csv")

In [71]:
df.head()

,ItemId,ComputerId,ItemName,Comment,Unit,C/S/ID,DataType,BitPos,Address,MAX,...,ScaleMin,Decimal,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
12766,06-05-2022,21:59:36,870,0,0,0,0,0,0,0,...,194.412003,0,0,0,0,0,0,42,44,1
12767,06-05-2022,21:59:36,875,0,0,0,0,0,0,0,...,194.412003,0,0,0,0,0,0,42,44,1
12768,06-05-2022,21:59:36,880,0,0,0,0,0,0,0,...,194.412003,0,0,0,0,0,0,42,42,1
12769,06-05-2022,21:59:36,885,0,0,0,0,0,0,0,...,194.412003,0,0,0,0,0,0,42,42,1
12770,06-05-2022,21:59:36,890,0,0,0,0,0,0,0,...,194.412003,0,0,0,0,0,0,42,42,1

In [13]:
df.shape

(12771, 22)

In [75]:
df1=df.iloc[0:19]

In [76]:
df1.tail()

,ItemId,ComputerId,ItemName,Comment,Unit,C/S/ID,DataType,BitPos,Address,MAX,...,ScaleMin,Decimal,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
14,83536,10,L_R1SD_DS_SPDFBK,R1 SCREW DOWN DS SPEED FBK (MPS),NaN,0,REAL : Float,0,0x16474,10000,...,-10000,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,83537,10,L_R1SDLS_SPDFBK,R1 SCREW DOWN LS SPEED FBK (MPS),NaN,0,REAL : Float,0,0x16478,10000,...,-10000,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,83538,10,L_R1SD_WS_CUR,R1 SCREW DOWN WS CURRENT (%),NaN,0,INT : Signed 2 Byte Integer,0,0x2bb58,32767,...,-32768,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,83539,10,L_R1SD_DS_CUR,R1 SCREW DOWN DS CURRENT (%),NaN,0,INT : Signed 2 Byte Integer,0,0x2bb5a,32767,...,-32768,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,83540,10,L_R1_CNT_PASS0,R1 CONTROL PASS ZERO,NaN,0,BOOL : Bit Data,2,0x166b4,1,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [81]:
df1.columns

Index(['ItemId', 'ComputerId', 'ItemName', 'Comment', 'Unit', 'C/S/ID',
       'DataType', 'BitPos', 'Address', 'MAX', 'MIN', 'ScaleMax', 'ScaleMin',
       'Decimal', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17',
       'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21'],
      dtype='object')

In [96]:
data_df1=df1.drop(['Unit','C/S/ID','ComputerId',
       'DataType', 'BitPos', 'Address', 'MAX', 'MIN', 'ScaleMax', 'ScaleMin',
       'Decimal', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17',
       'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21'],axis=1)

In [97]:
data_df1.rename(columns={'ItemId':'tag_id'}, inplace='True')
print(data_df1)

   tag_id           ItemName                                 Comment
0   35827     L_R1SDW_SPDREF  R1 Screw Down WS Speed Reference (mps)
1   35828     L_R1SDD_SPDREF  R1 Screw Down DS Speed Reference (mps)
2   35829     L_R1SDL_SPDREF  R1 Screw Down LS Speed Reference (mps)
3   35830     L_R1SDW_SPDFBK   R1 Screw Down WS Speed Feedback (mps)
4   35831     L_R1SDD_SPDFBK   R1 Screw Down DS Speed Feedback (mps)
5   35832     L_R1SDL_SPDFBK   R1 Screw Down LS Speed Feedback (mps)
6   35974   L_R1_ODG_AUX_B07                   R1 ODG AUX output B07
7   83528  RM1_RUNDOWN_ID_HS                           R! RUNDOWN ID
8   83530      L_R1SD_WS_GAP        R1 SCREW DOWN WORK SIDE GAP (MM)
9   83531      L_R1SD_DS_GAP       R1 SCREW DOWN DRIVE SIDE GAP (MM)
10  83532   L_R1SD_WS_SPDREF          R1 SCREW DOWN WS SPD REF (MPS)
11  83533   L_R1SD_DS_SPDREF          R1 SCREW DOWN DS SPD REF (MPS)
12  83534    L_R1SDLS_SPDREF       R1 SCREW DOWN LOW SPEED REF (MPS)
13  83535   L_R1SD_WS_SPDFBK        R1 SCREW DOWN WS SPEED FBK (MPS)
14  83536   L_R1SD_DS_SPDFBK        R1 SCREW DOWN DS SPEED FBK (MPS)
15  83537    L_R1SDLS_SPDFBK        R1 SCREW DOWN LS SPEED FBK (MPS)
16  83538      L_R1SD_WS_CUR            R1 SCREW DOWN WS CURRENT (%)
17  83539      L_R1SD_DS_CUR            R1 SCREW DOWN DS CURRENT (%)
18  83540     L_R1_CNT_PASS0                    R1 CONTROL PASS ZERO

In [122]:
df2= df.iloc[19:]

In [123]:
df2.head()

,ItemId,ComputerId,ItemName,Comment,Unit,C/S/ID,DataType,BitPos,Address,MAX,...,ScaleMin,Decimal,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
19,Date,Time,Milli Sec,L_R1SDW_SPDREF,L_R1SDD_SPDREF,L_R1SDL_SPDREF,L_R1SDW_SPDFBK,L_R1SDD_SPDFBK,L_R1SDL_SPDFBK,L_R1_ODG_AUX_B07,...,L_R1SD_DS_GAP,L_R1SD_WS_SPDREF,L_R1SD_DS_SPDREF,L_R1SDLS_SPDREF,L_R1SD_WS_SPDFBK,L_R1SD_DS_SPDFBK,L_R1SDLS_SPDFBK,L_R1SD_WS_CUR,L_R1SD_DS_CUR,L_R1_CNT_PASS0
20,06-05-2022,21:58:33,140,0,0,0,0,0,0,0,...,194.347992,0,0,0,0,0,0,0,0,1
21,06-05-2022,21:58:33,145,0,0,0,0,0,0,0,...,194.347992,0,0,0,0,0,0,0,0,1
22,06-05-2022,21:58:33,150,0,0,0,0,0,0,0,...,194.347992,0,0,0,0,0,0,0,0,1
23,06-05-2022,21:58:33,155,0,0,0,0,0,0,0,...,194.347992,0,0,0,0,0,0,0,0,1

In [112]:
df2.columns

Index(['ItemId', 'ComputerId', 'ItemName', 'Comment', 'Unit', 'C/S/ID',
       'DataType', 'BitPos', 'Address', 'MAX', 'MIN', 'ScaleMax', 'ScaleMin',
       'Decimal', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17',
       'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21'],
      dtype='object')

In [118]:
data_df2= df2.groupby(['ItemId','ComputerId', 'ItemName', 'Comment', 'Unit', 'C/S/ID',
       'DataType', 'BitPos', 'Address', 'MAX', 'MIN', 'ScaleMax', 'ScaleMin',
       'Decimal', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17',
       'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21']).max()

In [119]:
data_df2

Empty DataFrame
Columns: []
Index: [(06-05-2022, 21:58:33, 140, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.430008, 194.347992, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 145, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.430008, 194.347992, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 150, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.430008, 194.347992, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 155, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.430008, 194.347992, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 160, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.430008, 194.347992, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 165, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.430008, 194.347992, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 170, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.430008, 194.347992, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 175, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.430008, 194.347992, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 180, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.430008, 194.347992, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 185, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.430008, 194.347992, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 190, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.430008, 194.35199, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 195, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.430008, 194.35199, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 200, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.430008, 194.35199, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 205, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.430008, 194.35199, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 210, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.430008, 194.35199, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 215, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.430008, 194.35199, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 220, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.430008, 194.35199, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 225, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.430008, 194.35199, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 230, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.430008, 194.35199, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 235, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.430008, 194.35199, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 240, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.430008, 194.35199, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 245, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.430008, 194.35199, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 250, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.430008, 194.35199, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 255, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.430008, 194.35199, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 260, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.430008, 194.35199, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 265, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.430008, 194.35199, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 270, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.430008, 194.35199, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 275, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.430008, 194.35199, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 280, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.430008, 194.35199, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 285, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.430008, 194.35199, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 290, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.430008, 194.35199, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 295, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.430008, 194.35199, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 300, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.430008, 194.35199, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 305, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.430008, 194.35199, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 310, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.430008, 194.35199, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 315, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.430008, 194.35199, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 320, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.430008, 194.35199, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 325, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.430008, 194.35199, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 330, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.432007, 194.35199, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 335, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.432007, 194.35199, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 340, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.432007, 194.35199, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 345, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.432007, 194.35199, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 350, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.432007, 194.35199, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 355, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.432007, 194.35199, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 360, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.432007, 194.35199, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 365, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.432007, 194.35199, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 370, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.430008, 194.347992, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 375, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.430008, 194.347992, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 380, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.430008, 194.347992, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 385, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.430008, 194.347992, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 390, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.430008, 194.347992, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 395, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.430008, 194.347992, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 400, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.430008, 194.347992, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 405, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.430008, 194.347992, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 410, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.430008, 194.347992, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 415, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.430008, 194.347992, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 420, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.430008, 194.347992, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 425, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.430008, 194.347992, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 430, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.432007, 194.345993, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 435, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.432007, 194.345993, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 440, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.432007, 194.345993, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 445, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.432007, 194.345993, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 450, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.432007, 194.345993, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 455, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.432007, 194.345993, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 460, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.432007, 194.345993, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 465, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.432007, 194.345993, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 470, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.430008, 194.347992, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 475, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.430008, 194.347992, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 480, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.430008, 194.347992, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 485, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.430008, 194.347992, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 490, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.430008, 194.347992, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 495, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.430008, 194.347992, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 500, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.430008, 194.347992, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 505, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.430008, 194.347992, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 510, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.430008, 194.347992, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 515, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.430008, 194.347992, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 520, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.430008, 194.345993, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 525, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.430008, 194.345993, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 530, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.430008, 194.345993, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 535, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.430008, 194.345993, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 540, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.430008, 194.345993, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 545, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.430008, 194.345993, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 550, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.430008, 194.345993, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 555, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.430008, 194.345993, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 560, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.430008, 194.345993, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 565, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.430008, 194.345993, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 570, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.430008, 194.356003, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 575, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.430008, 194.356003, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 580, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.430008, 194.356003, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 585, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.430008, 194.356003, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 590, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.430008, 194.356003, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 595, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.430008, 194.356003, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 600, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.430008, 194.356003, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 605, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.430008, 194.356003, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 610, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.430008, 194.35199, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 615, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.430008, 194.35199, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 620, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.430008, 194.35199, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 625, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.430008, 194.35199, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 630, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.430008, 194.35199, 0, 0, 0, 0, 0, 0, 0, 0, 1), (06-05-2022, 21:58:33, 635, 0, 0, 0, 0, 0, 0, 0, 225726050, 194.430008, 194.35199, 0, 0, 0, 0, 0, 0, 0, 0, 1), ...]

[12752 rows x 0 columns]